output_simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="down" type="xs:byte"/>
	<xs:element name="inline_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rubric" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="link" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="post">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="post_time"/>
				<xs:element ref="post_title"/>
				<xs:element ref="inline_list"/>
				<xs:element ref="sinopsis"/>
				<xs:element ref="voting"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="post_time" type="xs:string"/>
	<xs:element name="post_title" type="xs:string"/>
	<xs:element name="result" type="xs:byte"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="post" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rubric">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sinopsis" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="total" type="xs:byte"/>
	<xs:element name="up" type="xs:byte"/>
	<xs:element name="voting">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="total"/>
				<xs:element ref="up"/>
				<xs:element ref="down"/>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
